@media screen {
  .countryDetailBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    height: 100vh;
    /*background: linear-gradient(0deg, #00000088 30%,#ffffff44 100%, transparent); */
    background-image: url("../../img/WhatsApp\ Image\ 2021-11-29\ at\ 21.44.13\ \(1\).jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .countryDetailTitleBox {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 98%;
    height: 10%;
  }

  .countryDetailTitleBox a {
    display: flex;
    flex-shrink: 0;
    width: 15%;
  }
  .countryDetailTitleBox h1 {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 70%;
    color: blanchedalmond;
  }

  .flagData {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 98%;
    height: 45%;
  }
  .imgFlagDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 50%;
    height: 90%;
  }

  .imgFlag {
    display: flex;

    flex-shrink: 0;
    width: 65%;
    height: 80%;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    width: 50%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    margin: 1% 0 5% 0;
    color: blanchedalmond;
  }

  .contryDetailActivities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 98%;
    height: 45%;
  }

  .buttonHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 50%;
    height: 33px;
    position: relative;
    padding: 1% 1%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size:95%;
    font-weight: bold;
    /* margin: 1em 0.8em; */
  }
  
  .buttonHome.type3 {
    color: blanchedalmond;
  }
  .buttonHome.type3.type3::after,
  .buttonHome.type3.type3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .buttonHome.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: blanchedalmond;
    border-right-color: blanchedalmond;
  }
  .buttonHome.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: blanchedalmond;
    border-left-color: blanchedalmond;
  }
  .buttonHome.type3.type3:hover:after,
  .buttonHome.type3.type3:hover:before {
    border-bottom-color: blanchedalmond;
    border-right-color: blanchedalmond;
    border-top-color: blanchedalmond;
    border-left-color: blanchedalmond;
    width: 100%;
    height: 100%;
  }
}
